<!-- <script type="text/template" id="photos-template">
	<%% _.each(photos, function(photo){ %>
		<%% console.log(photo.images) %>
		<li class="photo"><img src=<%%= photo.images.thumbnail.url %>></img></li>
	<%% });%>
</script> -->

<div id="photos">
	
	<div id="photo-list">
		
	</div>
	
	<div id="photo-show">
	</div>
	
	<div id="photo-thumbnail">
		
	</div>
	
	<script type="text/template" id="photo-template">
		<li><a href="#"><img src=<%%= photo.images.thumbnail.url %>></img></a></li>
	</script> 

	<script type="text/template" id="photos-template">
	</script>	
	
	<script type="text/template" id="photo-show-template">
		<%% if (photo.data) { %>
			<div class="photo-show-detail">
				<img src=<%%= photo.data.images.standard_resolution.url %>></img>			
			</div>			
		<%%}%>
		
	</script>	
	
</div>

