body {
	background: #DDD url('/images/bg.png');
}

#container {
	margin: 0 auto;
	width: 960px;
}

li {
	list-style: none;		
}

.photos {
	margin: 0 auto;
	width: 70%;
}

.photos li {
	float: right;
	margin: 5px;
	border: 3px solid white;
}

.photos li img {
	border: 1px solid lightgray;
}

.photo-show-detail {
	margin: 0 auto;
	width: 60%;
}

.slider {
	margin: 0 auto;
	width: 90%;	
}

.slider img {
	margin: 0 auto;
	border: 3px solid white;
	width: 300px;
	height: 300px;
}

.photo-image {
	float: left;
	width: 320;
}

.photo-info {
	float: left;
	width: 250;	
}

.photo-info .name {
	color: #2460BB;
}

.photo-list {
	clear:both;
}

.comments_count {
	color: #EB75D8;;
}

.likes_count {
	color: #EB75D8;;
}